footer {
    margin-top: 50px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #9E9E9E;
    padding-top: 25px;
    color: #908f8f;
}

div#data {
    min-height: 115px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

img.image:hover {
    cursor: pointer;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .2);
    transform: translate3d(-3px, -3px, 0);
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: linear;
}

.navbar {
    width: 500px;
    background-color: #052E34;
    margin-bottom: 50px;
    margin-top: 30px;
    margin-left: 200px;
    font-size: 40px;
    border-radius: 30px;
    border-color: white;
}

.navbar-brand {
    display: inline-block;
    margin-bottom: 10px;
    padding-top: 4px;
    padding-bottom: 10px;
    font-size: 50px;
    line-height: inherit;
    white-space: nowrap;
    font-style: normal;
    font-family: Microsoft JhengHei;
    font-weight: bold;
    color: #A5C9EB;
}

.nav-link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    color: yellow;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.imgnav {
    height: 50px;
}

#wager {
    cursor: pointer;
    background-color: #1B3E50;
    margin-left: 310px;
    font-size: 30px;
    border-color: darkgrey;
}

#wager:hover {
    color: #003C9D;
    background-color: #fff;
    border: 2px #003C9D solid;
}

#deal {
    cursor: pointer;
    background-color: rgb(53, 184, 74);
    font-size: 20px;
    border-color: green;
    margin-left: 35px;
}

#deal:hover {
    color: green;
    background-color: white;
    border: 2px green solid;
}

#check {
    cursor: pointer;
    background-color: black;
    margin-right: 10px;
    border-color: white
}

#check:hover {
    color: rgb(255, 0, 0);
    background-color: white;
    border: 2px rgb(255, 0, 0) solid;
}

#check2 {
    cursor: pointer;
    background-color: white;
    color: black;
    border-color: black;
}

#check2:hover {
    color: red;
    background-color: black;
    border: 2px red solid;
}

#total {
    border-radius: 20px;
    font-size: 30px;
    background-color: black;
    color: crimson;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    margin-left: 400px;
    margin-bottom: 10px;
}

#oth {
    background-color: white;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    margin-bottom: 10px;
}

#output {
    width: 200px;
    margin-left: 360px;
    text-align: center;
    text-size-adjust: 20px;
}

#back {
    color: black;
    background-color: white;
    font-size: 20px;
    font-weight: 800;
}

#back:hover {
    color: white;
    background-color: black;
    border: 0px white solid;
}