body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

h1 {
    font-size: 80px;
    color: white;
    margin-left: 40px;
    font-weight: 800;
}

h2 {
    color: white;
    margin-left: 40px;
    font-weight: 800;
}

#first {
    color: rgb(146, 250, 115);
    margin-bottom: 5px;
    list-style: none;
}

li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    list-style: circle;
}

#str {
    margin-top: 5px;
    list-style: none;
}

#str2 {
    margin-top: 5px;
    list-style: none;
}

#str3 {
    margin-top: 5px;
    margin-bottom: 10px;
    list-style: none;
}

#str4 {
    color: red;
    list-style: none;
}

#str5 {
    margin-top: 5px;
    margin-bottom: 10px;
    list-style: none;
}

a {
    margin-top: 10px;
    font-size: 70px;
    padding: 5px;
    color: rgb(161, 13, 13);
    margin-left: 600px;
    font-weight: 800;
}